@font-face {
    font-family: Segoe UI;
    src: url('../Fonts/SEGOEUI.ttf');
}


/* קטע הנחיות לפרק */
.SectionInstructionsEng
{
  padding:/* top */5px   /* right */30px;
  background-color:#F3F3F3;
  border-bottom:1px solid #B5D6FF;
  line-height:140%;
  text-align:right;
  font-size:110%;  
  border-collapse:collapse;
  font-family:Segoe UI;
}

/* הנחיות לפרק (על הרקע האפור) */
.QuestionTitle
{
  direction:rtl;
  text-align:right;
}

.title
{
  padding-right:10px;
}

/* כותרת ראשית לפרק (על הרקע השחור) */
.base.paneltitle .title
  {
    /* float: right; */
		float:left; /* באנגלית */
  }

/* כותרת פרק */
.TitlePreQ
{
  text-align:right;
  font-size:130%;
  line-height:150%;
  font-weight:bold;
  text-decoration: underline;
  padding:10px 0px;
}

/* הגדרת דף רחב*/
.base.panelcontent .DivQuestionTextEng
{
 padding:/* top */ 30px/* right */ 50px 50px /* left */ 50px;
 line-height:130%; 
 font-size:115%;
 text-align:right;
 font-family:Segoe UI; 
}

/* הגדרת דף חצוי*/
.base.panelcontent .DivQuestionTextEng_double
{
 padding:/* top */30px /* right */30px 50px /* left */ 30px;
 line-height:130%px; 
 font-size:115%;
 text-align:right;
 font-family:Segoe UI; 
}

 /* למסך מלא באנגלית*/
.TblQustionWide
{
  width:100%; /* חשוב שהרוחב יהיה באחוזים בשביל הצפייה בקובץ התשובות */
  text-align:left;
  margin-right:0px;
  padding:10px 10px;
  border-spacing:0px;
  border-collapse:collapse;
  font-family:Segoe UI;
}

/* למסך מלא */
.TblQustionWide1
{
  width:100%; /* חשוב שהרוחב יהיה באחוזים בשביל הצפייה בקובץ התשובות */
  text-align:right;
  margin-right:0px;
  padding:0px 0px;
  border-spacing:0px;
  border-collapse:collapse;
  font-family:Segoe UI;
}

/* למסך חצוי */
.TblQustion
{
  width:100%; /* חשוב שהרוחב יהיה באחוזים בשביל התצוגה בצפייה מלאה */
  padding:10px 0px;
  border-collapse:collapse;
}  

/* מספר השאלה */
.NumOfQuestion
{
  font-weight:bold;
  padding:0px 0px;
  font-size:110%;
  text-align:right; 
  background-color:#C6D733;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  line-height:30px;
  padding-right:10px;
  padding-left:10px;
  font-family:Segoe UI;
}

/* קו עליון */
.TopLine
{
  margin:20px 0px 0px 0px;
  width:100%;
  border-top:1px solid #C6D733;
}

/* מספר הסעיף */
.QuestionNum
{
  width:25px;
  text-align:right;
  font-weight:bold;
  vertical-align:top;
  font-size:115%;
  color:#4d4d4d; 
}

/* תת סעיף */
.QuestionNumInner
{
  width:25px;
  text-align:right;
  font-weight:bold;
  vertical-align:top;
  font-size:110%;
  color:#4d4d4d; 
}

/*  תת סעיף לתנ"ך */
.QuestionNumInnerB
{
  width:30px;
  text-align:right;
  font-weight:bold;
  vertical-align:top;
  font-size:90%;
  color:#4d4d4d; 
}

/* טקסט */
/* .QuestionTxt
{
  text-align:right;
  vertical-align:top;
  font-size:95%;
  line-height:160%;
  Padding-bottom:20px;
} */

/* ניקוד */
.Nikud
{
  text-align:right;
  font-size:80%;
  line-height:22px;
}


/* טקסט תנכ"י */
.CetBible
{
  font-family: code2000;
  font-size:16pt;
  line-height:36px;
  text-align:justify;
  margin:10px;
}

/* מילת תיקון/נרדפת בקטע תנ"כי */
.SpecialTextBible
{
  font-family:Segoe UI;
  font-size:18pt;
}

/* קטע מקור בתנ"ך בגוף השאלה */
.Quote
{
  text-align:right;
  font-size:115%;
  font-family:David;
  line-height:24px;
  font-weight:bold;
 }

/* כותרת לטקסט תנכ"י */
 .SourceTitle
{
  text-align:right;
  font-size:100%;
  font-family:Segoe UI;
  line-height:100%;
  font-weight:bold;
 }

/* קטע מקור לגריין (גאוגרפיה) */
.StimText
{
  font-family: Segoe UI;
  font-size:110%;
  line-height:160%;
  text-align:justify;
  margin:10px;
  padding: 10px 30px;
}


/* קטע מקור (היסטוריה) */
.SpecialTextHis
{
  font-family:FrankRuehl;
  font-size:130%;
  line-height:130%;
  text-align:justify;
  padding: 10px 10px;
}

/* קטע מקור (עברית לדוברי ערבית) */
.SpecialTextLitAr
{
  font-size:120%;
  line-height:130%;
  padding: 30px 20px;
  width: 400px;
  text-align:justify;
}

/* קטע מקור (ספרות) */
.SpecialTextLit
{
  font-family:frankruehl;
  font-size:140%;
  line-height:150%;  
  padding:30px 40px;
  text-align:right;   
}

 
/* זכויות יוצרים/קרדיט */
.CreditText
{
  font-family:Segoe UI;
  font-size:8pt;
  line-height:18px;
  /* text-align:left; */ /* מיושר לשמאל */
  text-align:right; /* מיושר לימין */
}

/* טקסט על רקע ירוק iTest (כללי - לפני סדרת שאלות) */
.GeneralContent
{
  width:95%;
  padding: 30px 30px 30px 30px;
  text-align:justify;
  line-height:18pt;
  background-color:#E6EFAC;  
}

/* טקסט על רקע ירוק iTest (מבוא לשאלה) */
.Content
{
  width:95%;
  padding: 30px 30px 30px 30px;
  text-align:justify;
  line-height:140%;
  background-color:#F5F8DA;   
  /* background-color:#FAFBF4;   ירוק */
}

/* ריווח בין תיבת הטקסט להקלטת תשובה */
.BtnDiv
{
  text-align:right;
  padding-top:10px;
}

/* קו מפריד בין שאלות */
.SeperateLine
{
  height:20px;
  border-bottom:2px solid #CCCCCC;
}

.title
{
  padding-right:10px;
}

/* הגדרת רוחב תיבת טקסט קצרה */
.base.cz_text
{
	width:200px;
}

.base.mainWin__
{
	width:1004px;
	text-align:right;
	direction:rtl;
	position:relative;
}

.base.panel__
{
    direction:rtl;
	border:1px solid #6494D2;
	background:#ffffff;
	width:494px;
	margin-top:4px;
	display:none;
	overflow:auto;
}

.base.panelcontent
{
	direction:rtl;
	font-family:Segoe UI;
	/* direction:ltr; באנגלית */
}


/* מספר שורה בגריין */ 
.base.panelcontent .verseside
{
  font-family: Segoe UI;
  font-size:8pt;
}

/* פרשנות בתנ"ך */
.base.panelcontent .verseside, .base.panelcontent .meaningside
{
  font-family: code2000;
}

 
.base.panel.external
{
         width:780px !important;
         margin:0 auto;
}


.base.panel.external .base.panelcontent .base.page
{
    background:White !important;
    width:600px !important;
    margin:0 auto;
    border-bottom:2px solid #C5C5C5;
    padding:10px 0;
}

/* משפיע על אופן התצוגה בצפייה המלאה */
.base.panel.external .base.panelcontent .base.page .base.multichoice
{
	width:auto;
}

/* משפיע על אופן התצוגה בצפייה המלאה */
.base.panel.external .base.panelcontent .base.page .base.answers
{
	width:auto;
}


.MenuPoints
{
  font-size:80%;
}


/***english***/

.SectionInstructionsEng /***english***/
{
  padding:5px 20px 5px 5px;
  background-color:#F3F3F3;
  /***border-bottom:1px solid #B5D6FF; ***/
  line-height:20px;
  text-align:left; 
}

.base.panelcontent .DivQuestionTextEng /***english***/
{
 padding:/* top */ 50px/* right */ 50px 30px /* left */ 50px;
 line-height:18px; 
 font-size:100%;
 text-align:left;
 Direction:ltr;
}

.QuestionTitleEng /***english***/
{
  direction:ltr;
  text-align:left;
}

.NumOfQuestionEng /***english***/
{
  font-weight:bold;
  padding:5px 5px;
  font-size:110%;
  text-align:left;
  background-color:#C6D733;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  line-height:30px;
  padding-right:10px;
  padding-left:10px;
  font-family:Segoe UI;
  
}

.QuestionNumEng /***english***/
{
  width:25px;
  text-align:left;
  font-weight:bold;
  vertical-align:top;
  font-size:115%;
  color:#4d4d4d; 
}

.QuestionNumInnerEng /***english***/
{
  width:25px;
  text-align:left;
  vertical-align:top;
  font-size:100%;
  color:#4d4d4d;
}

/***english***/
/* .QuestionTxtEng 
{
  text-align:left;
  vertical-align:top;
  font-size:100%;
  line-height:160%;
  padding-bottom:20px;
} */

.BtnDivEng /***english***/
{
  text-align:left;
  width:400px;
  padding-top:20px;
}

.titleEng /***english***/
{
  padding-left:10px;
  direction:ltr;
  text-align:left;
}

.QuoteEng /***english***/
{
  text-align:left;
  font-size:90%;
}

/* תפריט לשאלוני ספרות באנגלית */
.MenuEntry_Chapter
{
	text-align:left;
	direction:ltr;
}

/* תפריט לשאלוני ספרות באנגלית */
.MenuEntry_Question
{
    text-align:left;
	direction:ltr;
}

/* תפריט לשאלוני ספרות באנגלית */
.MenuEntry_Section
{
    text-align:left;
	direction:ltr;
}

.pts
{
	text-align:left;
}

/* .menu_title
{
	line-height:80%;
} */

